# Вводная

Что мы уже прошли и что должны знать?

- типы данных в Python
- функции 
- что такое машинное обучение?
- обучение с учителем (классификация, регрессия)
- обучение без учителя (кластеризация)
- методы оценки моделей (MSE. R-squered, accuracy, recoll, precision)
- что такое нейронные сети и как они устроены

Что будем делать в этом году и что узнаем?
- решать задачи НТИ по профилям "Большие данные" и "Искусственный интеллект"
- что такое NLP и как с этим жить?
- работа с аудио, распознование голоса и прочее
- работа с изображениями, распознавание и прочее
- реализация своих проектов и много решение разных задач

In [ ]:
# какие типы данных вы знаете?
float, int, str, bool
кортежи, списки, словари
датафрейм

In [ ]:
# создайте функцию сложения трех чисел и вернуть
def sum(a,b,c):
    return (a+b+c)

print(sum(1,2,3))

6

In [ ]:
# что такое обучение с учителем?
# данные с ответами
# что такое обучение без учителя?
# только данные, ответов нет

In [ ]:
# задачи классификации - это?
# множество объектов делим на групп
# задачи кластеризации - это?
# группировка данных по признакам
# задачи регресии - это?
# определяем конкретное значение

In [ ]:
# для какого типа задач используется метрика MSE? - для регрессия 
# для какого типа задач используется метрика recall? - для классифкации
# что такое accuracy? - это доля правильных ответов относительно всех ответов

In [ ]:
# что такое нейронные сети? -

# Практика

В этот набор данных включены все виды данных, связанных с астероидом.

Базовое определение столбца:
- SPK-ID: основной SPK-ID объекта.
- Object ID: идентификатор внутренней базы данных объекта.
- Object fullname: Полное наименование / обозначение объекта.
- pdes: Первичное обозначение объекта
- name: имя объекта IAU
- NEO: флаг объекта, сближающегося с Землей (NEO)
- PHA: флаг потенциально опасного астероида (PHA)
- H: параметр абсолютной величины
- Diameter: диаметр объекта (от эквивалентной сферы) км.
- Albedo: геометрическое альбедо
- Diameter_sigma: неопределенность 1 сигма в диаметре объекта км Единица измерения
- Orbit_id: ID решения для орбиты
- Epoch: Эпоха оскала в модифицированной форме юлианского дня.
- Equinox: Равноденствие системы отсчета.
- e: эксцентриситет
- a: Большая полуось au Unit
- q: расстояние перигелия au Единица
- i: наклон; угол относительно плоскости эклиптики xy
- tp: Время прохождения перигелия TDB Unit
- moid_ld: Минимальное расстояние пересечения орбиты Земли au Unit

https://www.kaggle.com/sakhawat18/asteroid-dataset

**Problem Definition**

How we can use various python based Machine Learning Model to and the given parameters to predict if the Asteroids Protential Hazard or not?

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

os.chdir(r"./drive/MyDrive/Data Science для школьников/Data science 2021 2022 - продвинутый курс")
print(os.getcwd())

/content/drive/MyDrive/Data Science для школьников/Data science 2021 2022 - продвинутый курс

In [ ]:
url = os.getcwd()
files = os.listdir(url)
files

In [ ]:
import pandas as pd

df = pd.read_csv('dataset.csv')
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

              id    spkid          full_name  ...     sigma_per class      rms
0       a0000001  2000001            1 Ceres  ...  9.415900e-09   MBA  0.43301
1       a0000002  2000002           2 Pallas  ...  3.680700e-06   MBA  0.35936
2       a0000003  2000003             3 Juno  ...  3.107200e-06   MBA  0.33848
3       a0000004  2000004            4 Vesta  ...  1.274900e-06   MBA  0.39980
4       a0000005  2000005          5 Astraea  ...  3.490500e-06   MBA  0.52191
...          ...      ...                ...  ...           ...   ...      ...
958519  bPLS6013  3246801         (6013 P-L)  ...  7.264900e+02   MBA  0.23839
958520  bPLS6331  3246834         (6331 P-L)  ...  1.578500e-05   MBA  0.53633
958521  bPLS6344  3013075         (6344 P-L)  ...  9.127500e-05   APO  0.51556
958522  bT2S2060  3246457         (2060 T-2)  ...  5.035500e+02   MBA  0.25641
958523  bT3S2678  3246553         (2678 T-3)  ...  1.064800e+02   MBA  0.26980

[958524 rows x 45 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958524 entries, 0 to 958523
Data columns (total 45 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              958524 non-null  object
 1   spkid           958524 non-null  int64
 2   full_name       958524 non-null  object
 3   pdes            958524 non-null  object
 4   name            22064 non-null   object
 5   prefix          18 non-null      object
 6   neo             958520 non-null  object
 7   pha             938603 non-null  object
 8   H               952261 non-null  float64
 9   diameter        136209 non-null  float64
 10  albedo          135103 non-null  float64
 11  diameter_sigma  136081 non-null  float64
 12  orbit_id        958524 non-null  object
 13  epoch           958524 non-null  float64
 14  epoch_mjd       958524 non-null  int64
 15  epoch_cal       958524 non-null  float64
 16  equinox         958524 non-null  object
 17  e               958524 non-null  float64
 18  a               958524 non-null  float64
 19  q               958524 non-null  float64
 20  i               958524 non-null  float64
 21  om              958524 non-null  float64
 22  w               958524 non-null  float64
 23  ma              958523 non-null  float64
 24  ad              958520 non-null  float64
 25  n               958524 non-null  float64
 26  tp              958524 non-null  float64
 27  tp_cal          958524 non-null  float64
 28  per             958520 non-null  float64
 29  per_y           958523 non-null  float64
 30  moid            938603 non-null  float64
 31  moid_ld         958397 non-null  float64
 32  sigma_e         938602 non-null  float64
 33  sigma_a         938602 non-null  float64
 34  sigma_q         938602 non-null  float64
 35  sigma_i         938602 non-null  float64
 36  sigma_om        938602 non-null  float64
 37  sigma_w         938602 non-null  float64
 38  sigma_ma        938602 non-null  float64
 39  sigma_ad        938598 non-null  float64
 40  sigma_n         938602 non-null  float64
 41  sigma_tp        938602 non-null  float64
 42  sigma_per       938598 non-null  float64
 43  class           958524 non-null  object
 44  rms             958522 non-null  float64
dtypes: float64(33), int64(2), object(10)
memory usage: 329.1+ MB

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df.isnull().sum()

In [ ]:
# We have choose to drop the name and prefix for now as this will not impact the model

df = df.drop(['name', 'prefix'], axis=1)
df = df.drop(['id', 'spkid','full_name', 'equinox','orbit_id','pdes'], axis=1)

In [ ]:
df = df.dropna()

In [ ]:
df.isna().sum()

neo               0
pha               0
H                 0
diameter          0
albedo            0
diameter_sigma    0
epoch             0
epoch_mjd         0
epoch_cal         0
e                 0
a                 0
q                 0
i                 0
om                0
w                 0
ma                0
ad                0
n                 0
tp                0
tp_cal            0
per               0
per_y             0
moid              0
moid_ld           0
sigma_e           0
sigma_a           0
sigma_q           0
sigma_i           0
sigma_om          0
sigma_w           0
sigma_ma          0
sigma_ad          0
sigma_n           0
sigma_tp          0
sigma_per         0
class             0
rms               0
dtype: int64

In [ ]:
df.shape

(131142, 37)

In [ ]:
df['pha'] # целевая переменная

0         N
1         N
2         N
3         N
4         N
         ..
891599    N
891841    N
894103    N
901055    N
909489    N
Name: pha, Length: 131142, dtype: object

In [ ]:
df['pha'].unique() # сколько классов?

array(['N', 'Y'], dtype=object)

In [ ]:
df['pha'].value_counts()
# дисбаланс классов

N    130961
Y       181
Name: pha, dtype: int64

In [ ]:
len(df[df['pha'] == 'N'])

130961

In [ ]:
len(df[df['pha'] == 'Y'])

181

In [ ]:
df = df.drop(['id', 'spkid','full_name', 'equinox','orbit_id','pdes'], axis=1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131142 entries, 0 to 909489
Data columns (total 37 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   neo             131142 non-null  object
 1   pha             131142 non-null  object
 2   H               131142 non-null  float64
 3   diameter        131142 non-null  float64
 4   albedo          131142 non-null  float64
 5   diameter_sigma  131142 non-null  float64
 6   epoch           131142 non-null  float64
 7   epoch_mjd       131142 non-null  int64
 8   epoch_cal       131142 non-null  float64
 9   e               131142 non-null  float64
 10  a               131142 non-null  float64
 11  q               131142 non-null  float64
 12  i               131142 non-null  float64
 13  om              131142 non-null  float64
 14  w               131142 non-null  float64
 15  ma              131142 non-null  float64
 16  ad              131142 non-null  float64
 17  n               131142 non-null  float64
 18  tp              131142 non-null  float64
 19  tp_cal          131142 non-null  float64
 20  per             131142 non-null  float64
 21  per_y           131142 non-null  float64
 22  moid            131142 non-null  float64
 23  moid_ld         131142 non-null  float64
 24  sigma_e         131142 non-null  float64
 25  sigma_a         131142 non-null  float64
 26  sigma_q         131142 non-null  float64
 27  sigma_i         131142 non-null  float64
 28  sigma_om        131142 non-null  float64
 29  sigma_w         131142 non-null  float64
 30  sigma_ma        131142 non-null  float64
 31  sigma_ad        131142 non-null  float64
 32  sigma_n         131142 non-null  float64
 33  sigma_tp        131142 non-null  float64
 34  sigma_per       131142 non-null  float64
 35  class           131142 non-null  object
 36  rms             131142 non-null  float64
dtypes: float64(33), int64(1), object(3)
memory usage: 38.0+ MB

In [ ]:
df['class'].unique()

array(['MBA', 'OMB', 'MCA', 'AMO', 'IMB', 'TJN', 'APO', 'ATE', 'CEN',
       'AST', 'TNO'], dtype=object)

In [ ]:
df['pha'] = df['pha'].map({'Y': 1, 'N': 0})
# pha - целевая переменная

df= pd.get_dummies(df)
df

        pha      H  diameter  ...  class_OMB  class_TJN  class_TNO
0         0   3.40   939.400  ...          0          0          0
1         0   4.20   545.000  ...          0          0          0
2         0   5.33   246.596  ...          0          0          0
3         0   3.00   525.400  ...          0          0          0
4         0   6.90   106.699  ...          0          0          0
...     ...    ...       ...  ...        ...        ...        ...
891599    0  16.20     3.793  ...          0          0          0
891841    0  17.40     2.696  ...          0          0          0
894103    0  17.20     3.271  ...          0          0          0
901055    0  16.00     3.009  ...          0          0          0
909489    0  18.30     1.600  ...          0          0          0

[131142 rows x 48 columns]

In [ ]:
X = df.drop('pha', axis=1)
y = df['pha']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
# cross_val_score

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
# логичтическая регрессия
# knn
# дерево
# метод опорных векторов
# XGB classifier - анасамлевые модели
# CatBoost
# Random forest

# выбрать любые 5 классификаторов:
# models = [1,2,3,4,5]
# for model in models:
#     обучаете
#     тестируете
#     оценку сохраняйте в список

# вывести список оценки
# и написать вывод какая модель

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier, XGBRFClassifier

def fit_and_score(models, X_train, X_test, y_train, y_test):
    np.random.seed(42)
    
    model_scores = {}
    
    for name, model in models.items():
        model.fit(X_train,y_train)
        model_scores[name] = model.score(X_test,y_test)

    model_scores = pd.DataFrame(model_scores, index=['Score']).transpose()
    model_scores = model_scores.sort_values('Score')
        
    return model_scores

models = {'LogisticRegression': LogisticRegression(max_iter=10000),
          'KNeighborsClassifier': KNeighborsClassifier(),
          'SVC': SVC(),
          'DecisionTreeClassifier': DecisionTreeClassifier(),
          'RandomForestClassifier': RandomForestClassifier(),
          'AdaBoostClassifier': AdaBoostClassifier(),
          'GradientBoostingClassifier': GradientBoostingClassifier(),
          'XGBClassifier': XGBClassifier(),
          'XGBRFClassifier': XGBRFClassifier()}

baseline_model_scores = fit_and_score(models, X_train, X_test, y_train, y_test)

baseline_model_scores.sort_values('Score')

                               Score
KNeighborsClassifier        0.998246
SVC                         0.998526
LogisticRegression          0.999339
RandomForestClassifier      0.999847
DecisionTreeClassifier      0.999949
GradientBoostingClassifier  0.999949
AdaBoostClassifier          1.000000
XGBClassifier               1.000000
XGBRFClassifier             1.000000