In [1]:
from google.colab import drive
drive.mount("/content/gdrive")
import pandas as pd
import numpy as np
transactions_train = pd.read_csv("/content/gdrive/MyDrive/ii/transactions_train.csv")
train_target=pd.read_csv("/content/gdrive/MyDrive/ii/train_target.csv")
transactions_train

Mounted at /content/gdrive

          client_id  trans_date  small_group  amount_rur
0             33172           6            4      71.463
1             33172           6           35      45.017
2             33172           8           11      13.887
3             33172           9           11      15.983
4             33172          10           11      21.341
...             ...         ...          ...         ...
26450572      43300         727           25       7.602
26450573      43300         727           15       3.709
26450574      43300         727            1       6.448
26450575      43300         727           11      24.669
26450576      43300         729            3      19.408

[26450577 rows x 4 columns]

In [2]:
train_target

       client_id  bins
0          24662     2
1           1046     0
2          34089     2
3          34848     1
4          47076     3
...          ...   ...
29995      14303     1
29996      22301     2
29997      25731     0
29998      16820     3
29999       5265     0

[30000 rows x 2 columns]

In [3]:
agg_features=transactions_train.groupby('client_id')['amount_rur'].agg(['sum','mean','std','min','max']).reset_index()

In [4]:
agg_features.head()

   client_id        sum       mean         std    min       max
0          4  28404.121  39.450168   73.511624  0.043  1341.802
1          6  15720.739  21.535259   26.200397  0.045   315.781
2          7  53630.036  69.379089  253.261383  0.043  4505.971
3         10  34419.365  48.752642   63.191701  0.045   654.893
4         11  26789.404  32.991877  107.395139  0.388  2105.058

In [5]:
counter_df_train=transactions_train.groupby(['client_id','small_group'])['amount_rur'].count()

In [6]:
cat_counts_train=counter_df_train.reset_index().pivot(index='client_id', \
                                                      columns='small_group',values='amount_rur')

In [7]:
cat_counts_train=cat_counts_train.fillna(0)

In [8]:
cat_counts_train.columns=['small_group_'+str(i) for i in cat_counts_train.columns]

In [9]:
cat_counts_train.head()

           small_group_0  small_group_1  ...  small_group_202  small_group_203
client_id                                ...
4                    0.0          447.0  ...              0.0              0.0
6                    2.0          397.0  ...              0.0              0.0
7                    2.0           79.0  ...              0.0              0.0
10                  12.0          309.0  ...              0.0              0.0
11                   2.0          423.0  ...              0.0              0.0

[5 rows x 202 columns]

In [10]:
train=pd.merge(train_target,agg_features,on='client_id')

In [11]:
train=pd.merge(train,cat_counts_train.reset_index(),on='client_id')

In [12]:
train.head()

   client_id  bins  ...  small_group_202  small_group_203
0      24662     2  ...              0.0              0.0
1       1046     0  ...              0.0              0.0
2      34089     2  ...              0.0              0.0
3      34848     1  ...              0.0              0.0
4      47076     3  ...              0.0              0.0

[5 rows x 209 columns]

In [14]:
from google.colab import drive
drive.mount("/content/gdrive")

transactions_test = pd.read_csv("/content/gdrive/MyDrive/ii/transactions_test.csv")
test_id=pd.read_csv('/content/gdrive/MyDrive/ii/test.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [15]:
agg_features_test=transactions_test.groupby('client_id')['amount_rur'].agg(['sum','mean','std','min','max']).reset_index()

In [16]:
agg_features_test.head()

   client_id        sum       mean         std    min       max
0          0  17036.127  19.163247   40.561700  0.065   595.339
1          1  34748.964  47.666617   89.489278  0.298  1181.221
2          2  51188.069  68.433247  152.093601  0.043  2837.682
3          3  47975.203  67.857430  318.651653  0.043  6135.652
4          5  20059.100  21.803370   34.258433  0.043   439.902

In [17]:
counter_df_test=transactions_test.groupby(['client_id','small_group'])['amount_rur'].count()

In [18]:
cat_counts_test=counter_df_test.reset_index().pivot(index='client_id', columns='small_group',values='amount_rur')

In [19]:
cat_counts_test=cat_counts_test.fillna(0)

In [20]:
cat_counts_test.columns=['small_group_'+str(i) for i in cat_counts_test.columns]

In [21]:
cat_counts_test.head()

           small_group_0  small_group_1  ...  small_group_201  small_group_202
client_id                                ...
0                    0.0          226.0  ...              0.0              0.0
1                   30.0          326.0  ...              0.0              0.0
2                   21.0          242.0  ...              0.0              0.0
3                    0.0          156.0  ...              0.0              0.0
5                   16.0          398.0  ...              0.0              0.0

[5 rows x 202 columns]

In [22]:
test=pd.merge(test_id,agg_features_test,on='client_id')

In [23]:
test=pd.merge(test,cat_counts_test.reset_index(),on='client_id')

In [24]:
common_features=list(set(train.columns).intersection(set(test.columns)))

In [25]:
y_train=train['bins']
X_train=train[common_features]
X_test=test[common_features]

In [36]:
X = X_train
y = y_train
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_st = scaler.fit_transform(X)
print(X_st)
print('###################'*5)
scaler = MinMaxScaler()
X_norm = scaler.fit_transform(X)

[[-0.49990768 -0.03183842 -0.14747504 ... -0.04066699 -0.64272876
  -0.03584478]
 [-0.25023827 -0.03183842 -0.14747504 ... -0.04066699 -0.39237257
  -0.03584478]
 [-0.49990768 -0.03183842 -0.14747504 ... -0.04066699 -0.14201639
  -0.03584478]
 ...
 [-0.25023827 -0.03183842 -0.14747504 ... -0.04066699 -0.39237257
  -0.03584478]
 [-0.12540357 -0.03183842 -0.14747504 ... -0.04066699 -0.39237257
  -0.03584478]
 [-0.25023827 -0.03183842 -0.14747504 ... -0.04066699 -0.14201639
  -0.03584478]]
###############################################################################################

In [37]:
#Логистическая регрессия с обычными данными
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X_st,y_train, test_size=1/3)

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(model.score(X_test, y_test))
print("Accuracy:", accuracy_score(y_test,y_pred))

0.5321518987341772
Accuracy: 0.5321518987341772

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)